@import "tailwindcss";

@theme {
  --color-flame-950: #00030f;
  --color-flame-900: #02071d;
  --color-flame-850: #370717;
  --color-flame-800: #6a040f;
  --color-flame-700: #9d0208;
  --color-flame-600: #d00000;
  --color-flame-500: #dc3002;
  --color-flame-400: #e85c04;
  --color-flame-300: #f48c05;
  --color-flame-200: #faa306;
  --color-flame-100: #ffba07;
  --color-flame-white: #ffffff;

  --animate-shine: shine 2.3s infinite linear;
}

@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

.bg-zigzag-pattern {
  background-image: url("/svg/pattern.svg");
  background-repeat: repeat;
  background-size: 120px 50px;
  background-position: top left;
}
