@import "tailwindcss";

@import "tailwindcss";

@theme {
  --color-flame-950: #00030F;
  --color-flame-900: #02071D;
  --color-flame-850: #370717;
  --color-flame-800: #6A040F;
  --color-flame-700: #9D0208;
  --color-flame-600: #D00000;
  --color-flame-500: #DC3002;
  --color-flame-400: #E85C04;
  --color-flame-300: #F48C05;
  --color-flame-200: #FAA306;
  --color-flame-100: #FFBA07;
  --color-flame-white: #FFFFFF;
}